body{
	font-family: 'Verdana';
	text-align: justify;
}
nav, footer{
	background-color: #111;
}
nav a, footer, footer a, .navbar-toggle, .navbar-toggle:hover{
	color: #FFF;
}
header{
	background-color: #003380; 
	background-image: url('avatar.svg');
	background-repeat: no-repeat;
	background-position: center;
	text-shadow: 0px 0px 10px #111;
	color: #FFF;
	height: 100vh;
}
h1{
	font-size: 250%;
	padding-top: 250px;
}
h2{
	color: #04A;
	padding-top: 2.5%;
}
header p{
	font-size: 150%;
}
main a{
	color: #04A;
}
footer{
	margin-top: 20px;
	padding-top: 20px;
}